{% extends 'base.html.twig' %}
{% block body %}
    <!-- Dernières séries proposées -->
    <section id="serie" class="row">
        <div class="col-lg-12">
            <h3>Dernières séries ajoutés :</h3>
            {{ render(controller('AppBundle:Serie:recentSeries',{ 'max': 3})) }}
            <a href={{ path('serie_index') }}><i class="glyphicon glyphicon-plus button pull-right">Voir plus de séries</i></a>
        </div>
    </section>

    <!-- Derniers commentaires -->
    <section id="comment" class="row">
        <div class="col-lg-12">
            <h3>Derniers commentaires :</h3>
            {{ render(controller('AppBundle:Post:recentPosts',{ 'max': 6 })) }}
            <a href="#"><i class="glyphicon glyphicon-plus button pull-right">Voir plus de commentaires</i></a>
        </div>
    </section>

    <!-- Forum -->
    <section id="forum">
        <div class="col-lg-12">
            <?php
/*
* home.php
* Description: example file for displaying latest posts and topics
* by battye (for phpBB.com MOD Team)
* September 29, 2009
*/

define('IN_PHPBB', true);
$phpbb_root_path = (defined('PHPBB_ROOT_PATH')) ? PHPBB_ROOT_PATH : './PHPBB3';
$phpEx = substr(strrchr(__FILE__, '.'), 1);
include($phpbb_root_path . 'common.' . $phpEx);
include($phpbb_root_path . 'includes/bbcode.' . $phpEx);
include($phpbb_root_path . 'includes/functions_display.' . $phpEx);

// Start session management
$user->session_begin();
            $auth->acl($user->data);
            $user->setup('viewforum');

        </div>
    </section>
{% endblock %}
