/* General CSS for all project */
body{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}

/* Header */
#logo{
    width: 120px;
}

.welcome{
    display: inline-block;
    font-size: 0.75em;
}

/* Navbar */
.navbar-default{
    background-color: #686868;
    /*!*text-transform: uppercase;*!*/
    /*min-height: 50px;*/
    /*max-height: 100px;*/
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar .navbar-nav{
    display: inline-block;
    float: none;
    margin-left: 20%;
}

/* Central searchBar */
.central{
    margin-top: -20px;
    margin-bottom: 20px;
    background-color: lightgrey;
    height: 120px;
}

.centralSearchbar{
    margin-top: 40px;
}

/* Containers */
.main{
    min-height: 1000px;
}

.container-fluid
{
    min-height: 100%;
}

.serieBlock{
    margin-bottom: 25px;
}

.serieBlock a{
    text-decoration: none;
}

.serieTitle{
    padding: 10px 10px 10px 10px;
    background-color: #FDB515;
    text-transform: uppercase;
    color: white;
}

#poster{
    width: 100px;
    height: 150px;
}


/* Menus effects */
.EffectBlue:hover{
    background-color: #00B6DE;
}

.EffectYellow:hover{
    background-color: #FDB515;
}

.EffectRed:hover{
    background-color: #ED3126;
}

.EffectOrange:hover{
    background-color: #EF7A35;
}

.EffectGreen:hover{
    background-color: #58BF94;
}

/*Socials*/
.social_icon{
    height: 25px;
    width: 25px;
}

#socialIcons{
    margin-top: 20px;
    text-align: center;
}

#socialIcons a{
    color: white;
}

/* Footer */
#footer{
    background-color: #686868;
    max-height: 50px;
}
.footer{
    background-color: #686868;
}

.footer a{
    color: white;
}