<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags always come first -->
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome - Projet FishBlock{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Font Awesome Library -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="{{ asset('bundles/appBundle/css/master.css')}}" title="Master Css" type="text/css" />

    {% block stylesheets %}{% endblock %}

</head>

<body>
<!-- Header -->
<header>
    <div class="row">
        <!-- Logo -->
        <div class="col-lg-3 ">
            <img id="logo" src="{{ asset('bundles/appBundle/images/logo_PassionFiction.jpg') }}" alt="logo" />
        </div>

        <!-- Verification authentification user -->
        <div class="row">
            <div class="col-lg-offset-9 col-lg-3">
                {% block welcome_user %}
                    {% include 'welcome_user.html.twig' %}
                {% endblock %}
            </div>
        </div>

        <!-- Flashbag -->
        {% block flashbag %}
            {% include 'flash.html.twig' %}
        {% endblock %}

        <!-- Search bar-->
        {% block search %}
            {% include 'search.html.twig' %}
        {% endblock %}

    </div>

    <!-- Navigation bar (menus / connexion / langues) -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                {% block navbar_top %}
                    {% include 'navbar.html.twig' %}
                {% endblock %}
            </div><!-- end .navbar-collapse -->
        </div><!-- end .container-fluid -->
    </nav>

</header>

<div class="main">
    {% block body %}{% endblock %}
</div>

<!-- Footer -->
<footer>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Réseaux sociaux / Mentions légales / Plan du site / Contact -->
            {% block footer %}
                {% include 'footer.html.twig' %}
            {% endblock %}
        </div>
    </nav>
</footer>

<!-- jQuery first, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
