{#Poisson d'attente#}
<header>
    {#<link rel="stylesheet" href="{{ asset('/css/fishblock.css') }}" title="FishBlock Css" type="text/css"  property="stylesheet"/>#}
    <style scoped>
        #fishblock{
            /*margin-top: -230px;*/
            /*margin-left: 270px;*/
            display: flex;
        }

        #container{
            width: 400px;
            height: 400px;
            position: relative;
            background-color: rgba(22, 160, 133,1.0);
            border: 15px solid  rgba(44, 62, 80,1.0);
            border-radius: 10px;
            flex-direction: column;
            margin: auto;
        }


        #fish_body{
            width: 200px;
            height: 150px;
            background-color: rgba(44, 62, 80,1.0);
            border-radius: 100%;
            position: absolute;
            margin-top: 130px;
            margin-left: 85px;
        }

        #tail{
            width: 100px;
            height: 100px;
            position: absolute;
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent;
            border-left: 65px solid rgba(44, 62, 80,1.0);
            margin-left: -40px;
            margin-top: 25px;
        }

        #fish_eye{
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: rgba(236, 240, 241,1.0);
            position: absolute;
            margin-left: 120px;
            margin-top: 40px;
            transition: all 0.35s;
        }


        #bubble1, #bubble2, #bubble3, #bubble4{
            background-color:  rgba(236, 240, 241,1.0);
            position: absolute;
            -webkit-animation: sk-bouncedelay 4s infinite ease-in-out both;
            animation: sk-bouncedelay 4s infinite ease-in-out both;
        }

        #bubble1{
            width: 10px;
            height: 10px;
            border-radius: 100%;
            margin-left: 200px;
            margin-top: 40px;
            -webkit-animation-delay: -1.4s;
            animation-delay: -1.4s;
        }

        #bubble2{
            width: 20px;
            height: 20px;
            border-radius: 100%;
            margin-left: 210px;
            margin-top: 20px;
            -webkit-animation-delay: -0.80s;
            animation-delay: -0.80s;
        }

        #bubble3{
            width: 30px;
            height: 30px;
            border-radius: 100%;
            margin-left: 235px;
            margin-top: -15px;
            -webkit-animation-delay: -0.40s;
            animation-delay: -0.40s;
        }

        #bubble4{
            width: 40px;
            height: 40px;
            border-radius: 100%;
            margin-left: 240px;
            margin-top: -60px;
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }

        @-webkit-keyframes sk-bouncedelay {
            0%, 80%, 100% { -webkit-transform: scale(0) }
            80% { -webkit-transform: scale(1.0) }
        }

        @keyframes sk-bouncedelay {
            0%, 80%, 100% {
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            40% {
                -webkit-transform: scale(1.0);
                transform: scale(1.0);
            }
    </style>
</header>
<div class="col-lg-12" id="fishblock">
    <div id="container">
        <div id="fish_body">
            <div id="fish_eye"></div>
            <div id="tail"></div>
            <div id="bubble1"></div>
            <div id="bubble2"></div>
            <div id="bubble3"></div>
            <div id="bubble4"></div>
        </div>
    </div>
</div>