<!-- Icônes réseaux sociaux -->
<div class="col-lg-offset-6 col-lg-2">
    {% block RS %}
        {% include 'social.html.twig' %}
    {% endblock %}
</div>

<!-- Mentions légales / Plan du site / Contact -->
<div class="container-fluid">
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="#">Copyright 2015-2016 by Team IMIE</a></li>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Plan du site</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>
