<!-- Icônes réseaux sociaux -->
<div>
    <figure>
        <a href="#"><img src="#" alt="facebook" /></a>
        <a href="#"><img src="#" alt="twitter" /></a>
        <a href="#"><img src="#" alt="googlePlus" /></a>
    </figure>
</div>

<!-- Mentions légales / Plan du site / Contact -->
<div>
    <span>Copyright 2015-2016 by Team IMIE</span>
    <a href="#">Mentions légales</a>
    <a href="#">Plan du site</a>
    <a href="#">Contact</a>
</div>