{% extends 'base.html.twig' %}

{% block body %}

    <!-- Barre de recherche centrale -->
    {% block navbar_central %}
        {% include 'navbar_central.html.twig' %}
    {% endblock %}

    <!-- Dernières séries proposées -->
    <section id="serie" class="row">
        <div class="col-lg-12">

            <h1>Dernières séries</h1>
            {{ render(controller('AppBundle:Serie:recentSeries',{ 'max': 6})) }}

            <div class="col-lg-12 text-right indexBtn">
                <a href={{ path('serie_index') }}>
                    <button type="button" class="btn btn-default">Voir la liste des séries</button>
                </a>
            </div>
        </div>
    </section>

    <!-- Derniers commentaires -->
    <section id="comment" class="row">
        <div class="col-lg-12">

            <h1>Derniers commentaires</h1>
            {{ render(controller('AppBundle:Post:recentPosts',{ 'max': 6 })) }}
        </div>
    </section>

    <!-- Forum -->
    {% block forum %}
        {% include 'forum.html.twig' %}
    {% endblock %}

{% endblock %}
