{% extends 'base.html.twig' %}

{% block body %}

    <!-- Barre de recherche centrale -->
    {% block navbar_central %}
        {% include 'navbar_central.html.twig' %}
    {% endblock %}

    <!-- Dernières séries proposées -->
    <section id="serie" class="row">
        <div class="col-lg-12">
            <h3>Dernières séries ajoutées :</h3>
            {{ render(controller('AppBundle:Serie:recentSeries',{ 'max': 3})) }}
            <a href={{ path('serie_index') }}><i class="glyphicon glyphicon-plus button pull-right">Voir plus de séries</i></a>
        </div>
    </section>

    <!-- Derniers commentaires -->
    <section id="comment" class="row">
        <div class="col-lg-12">
            <h3>Derniers commentaires :</h3>
            {{ render(controller('AppBundle:Post:recentPosts',{ 'max': 6 })) }}
            <a href="#"><i class="glyphicon glyphicon-plus button pull-right">Voir plus de commentaires</i></a>
        </div>
    </section>

    <!-- Forum -->
    {% block forum %}
        {% include 'forum.html.twig' %}
    {% endblock %}

{% endblock %}
