<!-- Collect the nav links, forms, and other content for toggling -->
<ul class="nav navbar-nav navbar-left">
    <li class="EffectBlue"><a href={{ path('homepage') }}><span class="glyphicon glyphicon-home"></span>  ACCUEIL</a></li>
    <li class="EffectYellow"><a href={{ path('serie_index') }}>SERIES</a></li>
    <li class="EffectRed"><a href="#">MEMBRES</a></li>
    {#Ajouter {{ path('user_show') pour faire la redirection vers le wall user}}#}
    <li class="EffectOrange"><a href="#">PROFIL</a></li>
    <li class="EffectGreen"><a href="#">FORUM</a></li>

    <!-- Connexion / Inscription -->
    {% block login %}
        {% include 'login.html.twig' %}
    {% endblock %}

    <!-- Langues -->
    {% block language %}
        {% include 'lang.html.twig' %}
    {% endblock %}
</ul>