<!-- Timeline header - User -->
<div class="container-fluid central timelineUserHeader">
    <div class="col-lg-12 ">
        <div id="imaginary_container">
            <div class="input-group stylish-input-group">
                <div class="col-lg-4">

                    <!-- Avatar du user -->
                    <img align="center" id="imageTimeline" src="{{ asset('/images/' ~ user.picture)}}" alt="{{ user.firstname ~ ' ' ~ user.lastname }}">

                    <!-- Bouton pour devenir ami avec le user -->
                    <button type="button" class="btn btn-default btn-lg buttonTimeline">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Devenir ami(e)
                    </button>
                </div>

                <!-- Nom du user -->
                <div class="col-lg-8">
                    <h1 class="timelineTitle">{{ user.firstname ~ ' ' ~ user.lastname }}</h1>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>