/******* CSS GROUPS *******/

/**** Font Family ****/
h1, #baseline, .navbar-default, .serieTitle, .timelineTitle, .asideBlockTitle, #serieTitleHome{
    font-family: Orbitron, sans-serif;
}

/**** Font colors ****/
.serieTitle, .asideBlockTitle, #socialIcons a, .footer a, .navbar-default .navbar-nav > li > a {
    color: white;
}

/**** Background color ****/
body, .timelineSerieHeader, .seriePoster, #imageTimeline{
    background-color: white;
}

.navbar, .navbar .navbar-default .navbar-static-top, .asideBlockTitle, .footer{
    background-color: #494E71;
}


/******* CSS by tag, class or id *******/

body{
    margin-left: 10%;
    margin-right: 10%;
}

h1{
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #494E71;
}

h3{
    margin-top: -20px;
}

/* Install new font */
@font-face {
    font-family: 'Orbitron';
    src: url("fonts/Orbitron-Regular.ttf");
    font-weight: normal;
}

/**** Header ****/

#logo{
    width: 160px;
}

#baseline{
    margin-top: 50px;
    font-size: 4em;
    font-weight: bold;
    color: rgba(73, 78, 113, 0.5);
}

.welcome{
    display: inline-block;
    font-size: 0.75em;
}

/**** Navbar ****/

.navbar-default{
    font-weight: bold;
}

.navbar .navbar-nav{
    display: inline-block;
    float: none;
    margin-left: 20%;
}

/**** Central searchBar ****/

.central{
    margin-top: -20px;
    background-color: rgba(73, 78, 113, 0.35);
    height: 120px;
}

.centralSearchbar{
    margin-top: 40px;
}

/**** Containers ****/

.main{
    min-height: 1500px;
}

.container-fluid
{
    min-height: 100%;
}

#forum{
    border-color: white;
}

/**** Home ****/

#serieTitleHome{
    color: #494E71;
}

/**** Serie_index ****/

.serieBlock{
    margin-bottom: 25px;
}

.serieBlock a{
    text-decoration: none;
}

.serieTitle{
    padding: 10px 10px 10px 10px;
    background-color: #FDB515;
    text-transform: uppercase;
    box-shadow: 2px 2px 12px #aaa;
    font-weight: bold;
}

/**** Serie_show ****/

.timelineSerieHeader, .timelineUserHeader{
    margin-top: -20px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 12px #aaa;
    height: 380px;
}

h1.timelineTitle{
    font-size: 4em;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 40px;
}

.asideBlock{
    margin-top: 30px;
    padding-bottom: 20px;
    background-color: rgba(73, 78, 113, 0.1);
}

.asideBlockTitle{
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
    font-weight: bold;
}


/**** Posters and pictures ****/

#avatar{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.actorMiniPicture, .serieMiniPoster, .avatarMini{
    width: 75px;
    /*max-height: 75px;*/
    margin-left: 5px;
}

.asideBlockPictures{
    width: 80px;
    height: 80px;
    margin: 5px 5px 5px 5px;
    display: inline-block;
}

.seriePoster{
    box-shadow: 2px 2px 12px #aaa;
    height: 300px;
}

#posterHome{
    width: 110px;
    height: 150px;
    margin-right: 20px;
}

#posterSeries{
    width: 220px;
    height: 300px;
}

#imageTimeline{
    width: 180px;
    height: 250px;
    margin : 40px 20px 0px 20px;
}

/**** Buttons ****/

.buttonTimeline{
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.indexBtn{
    margin-top: 20px;
}

.addEpisodeBtn, .addActorBtn{
    margin-top: 10px;
}

.modBtn a{
    text-decoration: none;
    color: black;
}

.propSerieBtn, .propComBtn{
    width: 450px;
    margin-top: 30px;
}

/**** Notes (stars) ****/

.starsNote{
    margin-top: -30px;
    /*margin-left: 40px;*/
}

/**** Menus colors ****/

.EffectBlue{
    background-color: #00B6DE;
}

.EffectYellow{
    background-color: #FDB515;
}

.EffectRed{
    background-color: #ED3126;
}

.EffectOrange{
    background-color: #EF7A35;
}

.EffectGreen{
    background-color: #58BF94;
}

/**** Socials ****/

.social_icon{
    height: 25px;
    width: 25px;
}

#socialIcons{
    margin-top: 20px;
    text-align: center;
}

/**** Forum ****/

.forum{
    margin-top: 40px;
}

/**** Comments ****/

.comment{
    font-size: 1.5em;
}

#commentList{
    margin-top: 10px;
}