{% extends 'base.html.twig' %}
{% block body %}
    Bonjour {{ nom }}
    <div class="container">
        <div class="row">
        <h1>Bienvenue sur Passion Fiction !</h1>
            <div class="col-xs-6 col-sm-4">
                <h3>Contenu 1ère colonne</h3>
            </div>
            <div class="col-xs-6 col-sm-4">
               <h3>Contenu 2e colonne</h3>
            </div>
            <div class="col-xs-6 col-sm-4">
                <h3>Contenu 3e colonne</h3>
            </div>
        </div>
    </div>
{% endblock %}
