{% extends "::base.html.twig" %}

{% block title %}AppBundle:User:add{% endblock %}

{% block body %}
<h1>Inscrire un  nouvel utilisateur</h1>
    <div class="well">{{ form(form) }}</div>
{% endblock %}
